#right-nav {
  display: flex;
  justify-content: right;
}

#normal-nav {
  background-color: #cec4d4;
}

#normal-nav-button {
  color: white;
}

#nav-dropdown {
  color: #fff;
  background-color: #ffcf33;
  border-color: #ffcf33;
  margin-right: 7rem;
}

#nav-login {
  color: #fff;
  background-color: #ffcf33;
  padding-left: 1rem;
  padding-right: 1rem;
}

#card-button {
  background-color: #ffcf33;
  border-color: #ffcf33;
}

a {
  text-decoration: none;
}

#center-container {
  height: 650px;
}

#center-card {
  max-width: 50%;
  margin: auto;
  margin-top: 125px;
}
