<div class="container" id="center-container">
  <div id="center-card" style="height: 100%">
    <span class="box">
      Het geluksproject gaat over de theorie en praktijk van gelukkiger zijn.
      Het idee is dat er zoveel kennis en vaardigheden bekent zijn over hoe een
      mens gelukkiger kan zijn maar dat je er op school niets over leert.
      Eigenlijk raar toch?
    </span>
    <br /><br />
    <span class="box">
      Dat vonden wij ook op het JPT en vandaar dat we het geluksproject zijn
      gestart.
    </span>
    <br /><br />
    <span class="box">
      Het idee is simpel. Leerlingen uit 5VWO leren over hoe je gelukkiger kunt
      worden. En van de kennis en vaardigheden die zij daarbij krijgen maken ze
      lessen voor de tweede klas leerlingen. Die lessen geven ze dan ook echt.
      Waarna de lessen kunnen worden aangepast aan de hand van de feedback die
      de tweede klassers hebben gegeven.
    </span>
    <br /><br />
    <span class="box">
      Deze lessen vormen de basis voor een database die voor leerlingen uit de
      bovenbouw van elke middelbare school op de wereld toegankelijk zijn. Zo
      kan de kennis als een olievlek over de hele wereld verspreiden, totdat
      geluk een echt vak op school wordt 😉.
    </span>
  </div>
</div>
