<div class="container">
  <div class="card mt-5" style="width: 80%; margin: auto">
    <img src="images/Capture.PNG" alt="placeholder" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
      <a
        href="#"
        class="btn btn-primary"
        id="card-button"
        >Go somewhere</a
      >
    </div>
  </div>
</div>
